{% load static %} {% block body %} {% include 'cnav.html' %}

<script>
  function checkpass() {
    if (
      document.changepassword.newpassword.value !=
      document.changepassword.confirmpassword.value
    ) {
      alert("New password and Confirm password field does not match");
      document.changepassword.confirmpassword.focus();
      return false;
    }
    return true;
  }
</script>

<marquee
  style="
    font-family: 'Monotype Corsiva';
    font-size: 25px;
    color: white;
    background-color: #2fa4ff;
    margin-top: 1%;
    font-weight: bold;
  "
>
  Change Password
</marquee>
<hr />
<form
  class="container mt-5"
  method="post"
  name="changepassword"
  onsubmit="return checkpass()"
>
  {% csrf_token %}
  <label><b>Current Password</b></label>
  <input
    type="password"
    class="form-control"
    name="currentpassword"
    required="true"
  />

  <label><b>New Password</b></label>
  <input
    type="password"
    class="form-control"
    name="newpassword"
    required="true"
  />

  <label><b>Confirm New Password</b></label>
  <input
    type="password"
    class="form-control"
    name="confirmpassword"
    required="true"
  />

  <input
    type="submit"
    class="btn btn-primary"
    style="margin-top: 2%; color: white; background-color: black; height: 40px"
  />
</form>
<br /><br />
{% ifequal error "no" %}
<script>
  alert("Password Changed Successfully");
  window.location = '{% url "contractor_login" %}';
</script>
{% endifequal %} {% ifequal error "yes" %}
<script>
  alert("Something went wrong, Try again..");
</script>
{% endifequal %} {% ifequal error "not" %}
<script>
  alert("Your current password is wrong");
</script>
{% endifequal %} {% endblock %}
