{% load static %} {% block body %} {% include 'navigation.html' %}

<marquee
  style="
    font-family: 'Monotype Corsiva';
    font-size: 25px;
    color: white;
    background-color: #2fa4ff;
    margin-top: 1%;
    font-weight: bold;
  "
>
  Government Login
</marquee>
<hr />
<form class="container mt-5" method="post">
  {% csrf_token %}
  <label><b>Email ID</b></label>
  <input
    type="text"
    class="form-control"
    name="uname"
    placeholder="Enter Email ID"
  />

  <label><b>Password</b></label>
  <input
    type="password"
    class="form-control"
    name="pwd"
    placeholder="Enter Password"
  />

  <input
    type="submit"
    value="Login"
    class="btn btn-primary"
    style="margin-top: 2%; color: white; background-color: #0E185F; height: 40px"
  />
  <a
    href="{% url 'government_signup' %}"
    class="btn btn-primary"
    style="margin-top: 2%; color: white; background-color: #0E185F; height: 40px"
    >Sign Up</a
  >
</form>
<br /><br />
{% include 'footer.html' %}
{% ifequal error "no" %}
<script>
  alert("Login Successful");
  window.location = '{% url "government_home" %}';
</script>
{% endifequal %} {% ifequal error "yes" %}
<script>
  alert("Invalid Login Crentials");
</script>
{% endifequal %} 
{% endblock %}
